name: Check Renovate config
on:
  push:
    paths:
      - 'renovate.json'
  pull_request:
    paths:
      - 'renovate.json'

jobs:
  check-renovate-config:
    name: Configuration check
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup npm
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6

      - name: Validate config file
        run: |
          npx --yes --package renovate -- renovate-config-validator
