name: Check Renovate config
on:
  push:
    paths:
      - 'renovate.json'
  pull_request:
    paths:
      - 'renovate.json'

jobs:
  check-renovate-config:
    name: Configuration check
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup npm
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6

      - name: Validate config file
        run: |
          npx --yes --package renovate -- renovate-config-validator
